.side-buttons {
    display: flex;
    justify-content: flex-end;
}
.item {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}